<!DOCTYPE html>

<html lang="id">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

        {% seo %}

		<link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
		<link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
		<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

	</head>
	<body>
		<div class="cover" >
			<div class="wrap">
				<div class="book">
					<div class="front-cover" style="background-image: url({{ site.baseurl }}{{ site.data.settings.cover_image }})">
					</div>
					<ul class="ruled_paper">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="back-cover"></div>
				</div>
				<div class="pdf-cover">
					<h1>{{ site.title }}</h1>
					<p class="author">By {{ site.author.name }}</p>
				</div>
			</div>
			<img src="{{ site.baseurl }}{{ site.data.settings.cover_image }}" class="background">
		</div>

		<p class="wrap formats">
				<a href="{{ site.baseurl }}/index.html#print-book">Print</a>
		</p>

		{{ content }}
		<a href="#toc" class="go-top">Back to top</a>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
	</body>
</html>
